nav {
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
  padding: 1.5em;
  margin: 0px;
  background-color: #4056a1;
  z-index: 4;
}

.navbar {
  position: relative;
  height: 120px
}

.logo {
  position: absolute;
  top: 50px;
  left: 5%;
  font-family: 'Bungee', cursive;
  color: #ffffff
}

.right-side-buttons {
  position: absolute;
  top: 44px;
  right: 5%
}

.write-new-tweet {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 15pt
}

.write-new-tweet p {
  padding: 0;
  margin: 0;
}

.write-new-tweet-btn {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  border: none;
  color: orangered;
  background-color: transparent;
}

.write-new-tweet:hover .material-icons {

  animation-duration: .5s;
  animation-name: bobble;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes bobble {
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(15%)
  }
}