

nav span {
  font-family: 'Bungee', cursive;
  color: #ffffff
}

nav {
  background-color: #4056a1;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1.5em;
  margin: 0px;
  z-index: 4;
}

.navbar {
  height: 120px
}