textarea {
  width: 100%;
  height: 2em;
  border: none;
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
  color: #17202a;
  resize: none
}

.new-tweet h2 {
  justify-content: left;
  color: #566573;
}

::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

input {
  width: fit-content;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Bungee', cursive;
  background-color: #4056a0;
  color: #ffffff
}

.counter {
  display: inline-block;
  float: right;
  font-family: 'Bungee', cursive
}