.tweet {
  padding: 15px;
  margin: 20px 0;
  font-family: 'Source Sans Pro', sans-serif;
  border: 3px solid ;
  opacity: .85
}

.tweet:hover {
  box-shadow: 3px 2px 10px 4px #CACFD2;
  opacity: 1
}

.tweet-header {
  position: relative;
  height: 70px;
  margin: 0;
  font-size: 15pt;
  font-weight: 300
}

.tweet-avatar {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
}

.tweet-name {
  position: absolute;
  top: 19px;
  left: 80px;
  font-size: 22pt;
}

.tweet-handle {
  position: absolute;
  top: 19px;
  right: 10px;
  opacity: 0;
  font-size: 22pt;
  font-weight: 300;
}

.tweet:hover .tweet-handle{
  opacity: .6
}

.tweet-body {
  padding: 0 0 5px 5px;
  margin: 22px 0 12px;
  border-bottom: 3px solid;
  font-size: 35pt
}

.tweet-footer {
  position: relative;
  font-size: 20pt;
}

.created-at {
  display: none;
}

.tweet-icons {
  position: absolute;
  right: 0;
  opacity: 0
}

.tweet:hover .tweet-icons{
  cursor: pointer;
  opacity: .8
}

@media (min-width: 1024px) {
  .tweet-body {
    font-size: 16pt
  }
  .tweet-name, .tweet-handle, .tweet-footer {
    font-size: 11pt;
  }
}